@import "tailwindcss";

/* --- NOTRE THEME WALMART --- */
@theme {
  --color-walmart-blue: #0071ce;
  --color-walmart-darkBlue: #041e42;
  --color-walmart-yellow: #ffc220;
  --color-walmart-light: #f2f8fd;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
